.headerComponent {
  height: 100px;
}

.titleSection {
  height: 150px;
  display: flex;
  flex-direction: row;
}

.headerTitle {
  padding-top: 10px;
  font-weight: 1000;
  font-size: 48px;
  color: lightblue;
  margin-left: 35%;
  text-shadow: 2px 2px gray;

}

.subheader {
  font-size:24px;
  font-weight: bold;
  padding-left: 35px;
  margin-top: 20px;
}

.logo {
  margin-left: 50%;
  height: 100px;
}
