.searchComponent {
  width: 100%;
  margin-top: 30px;
}

.searchAndAddBar {
  margin-top: 22px;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.magnifyIcon {
  position: absolute;
  top: 70px;
  left: 35px;
  font-size: 15px;
}
.magnifyImage {
  width:20px;
  height: 20px;
}

.addButton {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background-color: lightblue;
  border-color: black;
  border-width: 1px;
  margin-left: 5px;
  margin-right: 10px
}

.addImage {
  width: 30px;
  height: 30px;
}

.searchInput {
  height: 30px;
  width: 100%;
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  text-indent: 35px;
}

::placeholder {
  padding-left: 35px;
  color: black;
}
