.inputF {
  height: 40px;
  width: 500px;
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid;
  border-color: #fff;
  color: #fff;
}

::placeholder {
  color: #fff;
  font-size: 14px;
  opacity: 1;
}

@media (max-width: 400px) {
  .inputF {
    width: 300px;
  }
}

@media (min-width: 401px) {
  .inputF {
    width: 400px;
  }
}
